

<% if $torovaca.getNivel()== "basico" %>
    <%codigoIntento=params[:valor1].to_s + params[:valor2].to_s + params[:valor3].to_s+params[:valor4].to_s%>
    <%$torovaca.intento(codigoIntento)%>
    <%$contador=$contador+1%>
    <h3 style="text-align:center">Numero de intentos: <%=$torovaca.getNumeroIntentos()%><h3>
    <h3 style="text-align:center">Numero de intentos restantes: <%=$torovaca.getNumeroIntentosPermitidos()-$torovaca.getNumeroIntentos()%><h3>
    <h3 style="text-align:center">Los toros son : <%= $torovaca.getCantidadToros()%></h3>
    <h3 style="text-align:center">Las vacas son : <%= $torovaca.getCantidadVacas()%></h3>
<%end%>
<% if $torovaca.getNivel()== "intermedio" %>
    <%codigoIntento=params[:valor1].to_s + params[:valor2].to_s + params[:valor3].to_s+params[:valor4].to_s+params[:valor5].to_s+params[:valor6].to_s%>
    <%$torovaca.intento(codigoIntento)%>
    <%$contador=$contador+1%>
    <h3 style="text-align:center">Numero de intentos: <%=$torovaca.getNumeroIntentos()%><h3>
    <h3 style="text-align:center">Numero de intentos restantes: <%=$torovaca.getNumeroIntentosPermitidos()-$torovaca.getNumeroIntentos()%><h3>
    <h3 style="text-align:center">Los toros son : <%= $torovaca.getCantidadToros()%></h3>
    <h3 style="text-align:center">Las vacas son : <%= $torovaca.getCantidadVacas()%></h3>
<%end%>
<% if $torovaca.getNivel()== "avanzado" %>
    <%codigoIntento=params[:valor1].to_s + params[:valor2].to_s + params[:valor3].to_s+params[:valor4].to_s+params[:valor5].to_s+params[:valor6].to_s+params[:valor7].to_s+params[:valor8].to_s%>
    <%$torovaca.intento(codigoIntento)%>
    <%$contador=$contador+1%>
    <h3 style="text-align:center">Numero de intentos: <%=$torovaca.getNumeroIntentos()%><h3>
    <h3 style="text-align:center">Numero de intentos restantes: <%=$torovaca.getNumeroIntentosPermitidos()-$torovaca.getNumeroIntentos()%><h3>
    <h3 style="text-align:center">Los toros son : <%= $torovaca.getCantidadToros()%></h3>
    <h3 style="text-align:center">Las vacas son : <%= $torovaca.getCantidadVacas()%></h3>
<%end%>
<% if $torovaca.winner()!=true && $torovaca.gameOver() !=true %>
    <form style="text-align:center">
        <input type="button" onclick="history.back()" name="volver atrás" value="volver atrás">
    </form>
<%end%>


<%if $torovaca.winner()%>
    <h3 style="text-align:center">GANASTE!!!<h3>
    <form method="get" action="/" style="text-align:center">
        <button type="submit" >Inicio</button>
    </form>
<% elsif $torovaca.gameOver()%>
    <h3 style="text-align:center">PERDISTE :(<h3>
    <form method="get" action="/" style="text-align:center">
        <button type="submit" >Inicio</button>
    </form>
<%end%>
