<h1 style="text-align:center">MEJORES JUGADORES</h1>
 <%@jugadores.ordenarJugadores%>
 <%$lista=@jugadores.getListaJugadores%>
<body >
    <div style="text-align:center">    
        <table class="ranking" style="text-align:center" align="center">
        <tr >
            <th scope="row">Nº</th>
            <th >Nombre</th>
            <th>Numero Intentos</th>
            <th>Tiempo</th>
            <th>Puntuacion Total</th>
        </tr>
        <%for i in (0..$lista.size-1)%>
            <tr>
                <th><%=i+1%></th>
                <td><%=$lista[i].getNickName%></td>
                <td><%=$lista[i].getPuntuacion%></td>
                <td><%=$lista[i].getTiempo%></td>
                <td><%=$lista[i].getPuntuacionTotal%></td>
            </tr>
        <%end%>
    </div>
 </body>
